@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primarycolor: #124e66;
  --secondarycolor: #d3d9d4;
  --headerandfooter: #2e3944;
  --fontheading: "Merriweather", serif;
  --fontnormal: "Montserrat", sans-serif;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--secondarycolor);
}

header {
  background-color: var(--headerandfooter);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  margin: 1rem;
  font-family: var(--fontheading);
  font-size: 1.5em;
  color: white;
}

#logo {
  font-family: var(--fontheading);
  color: white;
  font-size: 3rem;
  margin-left: 1rem;
}

a {
  color: white;
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--secondarycolor);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.menu-icon {
  display: none;
}

#hero {
  display: flex;
  margin-top: 7rem;
  text-align: center;
}

#hero img {
  width: 30%;
  border-radius: 10px;
  margin-left: 5rem;
}

#hero p {
  font-family: var(--fontnormal);
  font-weight: normal;
  font-size: clamp(1rem, 2rem, 2.5rem);
  margin: 10rem auto;
  width: 75%;
}

#hero a {
  text-decoration: none;
  font-family: var(--fontnormal);
  font-size: 1.5rem;
  background-color: var(--primarycolor);
  border-radius: 10px;
  color: white;
  padding: 1rem;
  width: 25%;
}

#grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  margin: 16rem 15rem;
}
#anime-reco {
  margin-top: 15rem;
  margin-left: 0rem;
}

#anime-reco h2 {
  font-family: var(--fontheading);
  font-size: clamp(1.5rem, 2rem, 2.5rem);
  width: 45%;
}

#anime-reco li {
  font-family: var(--fontnormal);
  font-size: clamp(1rem, 1.5rem, 2rem);
}

#project-ideas {
  margin-top: 15rem;
  margin-right: 5rem;
  width: 45%;
}

#project-ideas h2 {
  font-family: var(--fontheading);
  font-size: 2rem;
  margin-bottom: 5rem;
  font-size: clamp(1.5rem, 2rem, 2.5rem);
}

#project-ideas li {
  font-family: var(--fontnormal);
  font-size: 1.5rem;
  font-size: clamp(1rem, 1.5rem, 2rem);
}

#pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 1rem;
  margin-left: 25rem;
  margin-bottom: 15rem;
}

#idk {
  font-family: var(--fontheading);
  font-size: 2rem;
  margin-bottom: 5rem;
  text-align: center;
}
#pictures img {
  width: 20rem;
  border-radius: 10px;
  transform: translateX(-10rem);
}

#pictures p {
  font-family: var(--fontnormal);
  font-size: clamp(0.5rem, 2rem, 2.5rem);
  min-width: 5rem;
  width: 15rem;
  max-width: 20rem;
  margin-top: 10rem;
}

#Contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 25%;
}

#kk {
  display: flex;
  justify-content: center;
}

#list {
  transform: translateY(-28rem);
  margin-left: 5rem;
}
#Contacts ul li {
  list-style-type: none;
  font-family: var(--fontnormal);
  font-size: 1.5rem;
  margin: 6rem auto;
  width: 80%;
}
#Contacts li a {
  text-decoration: none;
  color: black;
}

#Contacts img {
  grid-column: 3/1;
  width: 19%;
  margin-bottom: 2rem;
}

#aside {
  width: 100%;
  height: 100%;
  background-color: var(--headerandfooter);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#aside li {
  margin: 5rem auto;
  list-style-type: none;
}
#aside:target {
  display: block;
}

#aside a {
  text-decoration: none;
  color: white;
  font-family: var(--fontheading);
  font-size: 2rem;
  margin-bottom: 2rem;
}

footer {
  background-color: var(--headerandfooter);
  font-family: var(--fontheading);
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1rem;
}

footer p {
  margin-left: 1rem;
}
main {
  animation: fadein ease 3.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1030px) {
  #hero {
    text-align: center;
    display: block;
    margin-top: 7rem;
  }

  #hero div {
    text-align: center;
  }

  #hero img {
    width: 30%;
    border-radius: 10px;
    margin: 0rem;
  }
}

@media (max-width: 830px) {
  .menu-icon {
    display: block;
    width: 4rem;
    color: white;
    float: right;
    transform: translateY(-4rem);
  }

  .nav-bar {
    display: none;
  }

  .menu-icon2 {
    display: block;
    width: 4rem;
    color: white;
    float: right;
  }
  #anime-reco,
  #project-ideas {
    margin-left: 10rem;
  }
}

@media (max-width: 760px) {
  #grid-container {
    transform: translateX(-14rem);
  }
  #anime-reco,
  #project-ideas {
    margin-left: 2rem;
  }

  #hero p {
    font-size: 1.5rem;
  }
  #hero img {
    width: 90%;
  }

  #pictures {
    transform: translateX(-14rem);
  }

  #gmail {
    transform: translateX(-2rem);
  }

  #pictures p {
    font-size: 2rem;
    width: 80%;
    transform: translateX(-8rem);
  }
  #Contacts {
    transform: translateX(-10rem);
  }
}
